html {
    height: 100%;
}

body::-webkit-scrollbar {
    display:none;
}

body {
    margin: 0 auto;
    height: 100%;
    font-size: small;
    font-family: "Arial black";
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#GUICanvas{
    width: 100%;
    height: 100%;
    background: #0000ff;
}
